ul.icon-line li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

img.small {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 5px;
}

img.small-focused {
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px;
}

img.half {
	border: 1px solid #888;
	border-radius: 4px;
	padding: 5px;
}

img.big {
	border: 5px solid black;
	border-radius: 6px;
	padding: 10px;
}
